<div class="container">
    <div class="row">
        <h1>Artists</h1>
    </div>
    <hr>
    <div class="row">
        <label>Search Artists/Teacher:</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name, surname, username">
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button"><i class="fas fa-search"></i></button>
            </div>
          </div>   
          <p><small>No searches found</small></p>
         </div>
<hr>
<div class="row">
    <table class="table">
        <thead>
          <tr class="table-primary">
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Type Artist/Teacher</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tom</td>
            <td>Cruise</td>
            <td>Cruise15</td>
            <td>tom@email.com</td>
            <td>1234567890</td>
            <td>Painter</td>
            <td><button type="button" class="btn btn-primary" [routerLink]="['/view-artist']">View Profile</button>
            </td>
          </tr>
          <tr>
            <td>Tom</td>
            <td>Jacob</td>
            <td>TomAndJerry</td>
            <td>jacob@email.com</td>
            <td>0987654321</td>
            <td>Drawer</td>
            <td><button type="button" class="btn btn-primary" [routerLink]="['/view-artist']">View Profile</button>
          </tr>
        </tbody>
      </table>
</div>
</div>

