
.vs/Binary-Brains-Repository/v16/.suo
.vs/slnx.sqlite
Del 5/BinaryBrainsAPI/BinaryBrainsAPI/.vs/slnx.sqlite
Del 5/BinaryBrainsAPI/BinaryBrainsAPI/obj/Debug/net5.0/BinaryBrainsAPI.assets.cache
.vs/VSWorkspaceState.json
Del 5/BinaryBrainsAPI/BinaryBrainsAPI/obj/Debug/net5.0/BinaryBrainsAPI.assets.cache
Del 5/BinaryBrainsAPI/BinaryBrainsAPI/obj/Debug/net5.0/BinaryBrainsAPI.assets.cache
Del 5/BinaryBrainsAPI/BinaryBrainsAPI/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Del 5/BinaryBrainsAPI/BinaryBrainsAPI/obj/Debug/net5.0/BinaryBrainsAPI.assets.cache
Del 5/BinaryBrainsAPI/BinaryBrainsAPI/obj/Release/net5.0/BinaryBrainsAPI.AssemblyInfo.cs
*.cache
Del 5/BinaryBrainsAPI/BinaryBrainsAPI/obj/Release/net5.0/BinaryBrainsAPI.GeneratedMSBuildEditorConfig.editorconfig
Del 5/BinaryBrainsAPI/BinaryBrainsAPI/obj/Debug/net5.0/BinaryBrainsAPI.assets.cache
*.cache
Del 5/BinaryBrainsAPI/BinaryBrainsAPI/obj/Debug/net5.0/BinaryBrainsAPI.assets.cache
Del 5/BinaryBrainsAPI/BinaryBrainsAPI/obj/Debug/net5.0/BinaryBrainsAPI.assets.cache
