<div class="container">
    <div class="row">
      <div class="col">
        <h1>Update Art Class</h1>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger" style="float: right;" (click)="onCancel(cancelModal)">Cancel</button>
      </div>     </div>
    <hr>
    <div class="row">
        <div class="col">
            <label>Title:</label>
            <input type="text" class="form-control" placeholder="Title">
            <br>

            <div class="form-group">
                <label for="comment">Class Description:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
              <br>

              <label>Start-Date:</label>
            <input type="text" class="form-control" placeholder="Start-Date" value="2021/06/22">
            <br>

            <label>End-Date:</label>
            <input type="text" class="form-control" placeholder="End-Date" value="2021/06/25">
            <br>

            <label>Class Type:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Drawing</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <br>

              <label>Announcement:</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  No
                </label>
              </div>
            
        </div>
        <div class="col">
            <label>Teacher:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Stan Lee</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <br>

            <label>Class limit: </label>
            <input type="number" class="form-control" placeholder="Provide class limit">
            <br>

            <label>Refund Limit:</label>
            <input type="text" class="form-control" placeholder="Refund limit">
            <br>

            <label>Venue:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Room 1</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <br>

              <label>Payment Reminder: (Set how many weeks before start-date)</label>
              <div class="row" style="margin-left: 50px;">
              <div class="col">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="flexRadioDefault1">
                  3 Weeks
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="radio">
                <label class="form-check-label">
                  2 Weeks
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="radio">
                <label class="form-check-label">
                  1 Week
                </label>
              </div>
            </div>
              <br>
              <label>Class Reminder: (Set how many weeks before start-date)</label>
              <div class="row" style="margin-left: 50px;">
              <div class="col">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="flexRadioDefault1">
                  3 Weeks
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="radio">
                <label class="form-check-label">
                  2 Weeks
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="radio">
                <label class="form-check-label">
                  1 Week
                </label>
              </div>
            </div>
            <hr>
              <h4>Add Class Picture</h4>
              <div class="row">
                
                <div class="col">
                    <button type="button" disabled class="btn btn-success">Upload <i class="fas fa-upload"></i></button>
                    <p>comic_art_picture.png</p>
                    <button type="button" class="btn btn-danger sm">Delete <i class="fas fa-trash"></i></button>
                </div>
                <div class="col">
                    <img src="./../assets/classes/class3.png" class="exhibition-image" alt="exhibiton">
                </div>
              </div>
              


                          
        </div>
    </div>
        <!-- <button type="button" class="btn btn-primary btn-lg" (click)="addAnnouncement(announcementModal)">Submit</button> -->
        <button type="button" class="btn btn-primary" style="width: 250px; height: 50px;" (click)="updateClass(updateClassModal)">Update Art Class</button>
</div>


<!-- =========MODALS BELOW======================= -->

<ng-template #updateClassModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Enter Announcement</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Announcement</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>
    </div>
    <br>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirmUpdateClass(updateClassModal)">Confirm</button>
  </div>
</ng-template>


<ng-template #cancelModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cancel Update Class</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <p>Are you sure you want to cancel the update process?</p>
    </div>
    <br>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">No</button>
    <button type="button" class="btn btn-primary" (click)="confirmCancel(cancelModal)">Yes</button>
  </div>
</ng-template>
