<div class="container">
  <form [formGroup]="artClassForm" (ngSubmit)="onSubmit($event)">
    <div class="row">
      <div class="col">
        <h1>Update Art Class</h1>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger" style="float: right;" (click)="onCancel(cancelModal)">Cancel</button>
      </div>     </div>
    <hr>
    <div class="row">
        <div class="col">
            <label>Title:</label>
            <input type="text" class="form-control" placeholder="Title" name="artClassName" formControlName="artClassName">
            <br>

            <div class="form-group">
                <label for="comment">Class Description:</label>
                <textarea class="form-control" rows="5" id="comment" name="artClassDescription" formControlName="artClassDescription"></textarea>
              </div>
              <br>

              <label>Start-Date:</label>
            <input type="text" class="form-control" placeholder="Start-Date" name="artClassStartDateTime" formControlName="artClassStartDateTime">
            <br>

            <label>End-Date:</label>
            <input type="text" class="form-control" placeholder="End-Date" name="artClassEndDateTime" formControlName="artClassEndDateTime">
            <br>

            <label>Class Type:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <select class="custom-select" name="artClassTypeID" formControlName="artClassTypeID">
                  <option *ngFor="let type of artClassTypeList" [value]="type.artClassTypeID">{{type.artClassTypeDescription}}</option>
                </select>
              </div>
              <br>
            
        </div>
        <div class="col">
            <label>Teacher:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <select class="custom-select" name="classTeacherID" formControlName="classTeacherID">
                  <option *ngFor="let type of teachersList" [value]="type.classTeacherID">{{type.teacherName}} {{type.teacherSurname}}</option>
                </select>
              </div>
              <br>

            <label>Class limit: </label>
            <input type="number" class="form-control" placeholder="Provide class limit" name="classLimit" formControlName="classLimit">
            <br>

            <label>Refund Limit:</label>
            <input type="text" class="form-control" placeholder="Refund limit" name="refundDayLimit" formControlName="refundDayLimit">
            <br>

            
            <label>Class Type:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <select class="custom-select" name="artClassTypeID" formControlName="artClassTypeID">
                  <option *ngFor="let type of artClassTypeList" [value]="type.artClassTypeID">{{type.artClassTypeDescription}}</option>
                </select>
              </div>
              <br>

            <label>Venue:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <select class="custom-select" formControlName="venueID" name="venueID">
                  <option *ngFor="let type of venueList" [value]="type.venueID">{{type.venueDescription}}</option>
                </select>
              </div>
              <br>

              <label>Organisation:</label>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                  </div>
                  <select class="custom-select" formControlName="organisationID" name="organisationID">
                    <option *ngFor="let type of organisationList" [value]="type.organisationID">{{type.organisationalName}}</option>
                  </select>
                </div>
                <br>
<!-- 
              <label>Payment Reminder: (Set how many weeks before start-date)</label>
              <div class="row" style="margin-left: 50px;">
              <div class="col">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="flexRadioDefault1">
                  3 Weeks
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="radio">
                <label class="form-check-label">
                  2 Weeks
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="radio">
                <label class="form-check-label">
                  1 Week
                </label>
              </div>
            </div>
              <br>
              <label>Class Reminder: (Set how many weeks before start-date)</label>
              <div class="row" style="margin-left: 50px;">
              <div class="col">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="flexRadioDefault1">
                  3 Weeks
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="radio">
                <label class="form-check-label">
                  2 Weeks
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="radio">
                <label class="form-check-label">
                  1 Week
                </label>
              </div>
            </div> -->
            <hr>
              <h4>Add Class Picture</h4>
              <div class="row">
                

                <div class="col">
                  <label>Add Picture: </label>
                  <input type="hidden" name="artClassImage" formControlName="artClassImage" [value]="base64">
                  <!-- <button type="button" class="btn btn-outline-primary" (click)="onCheck()">Check</button> -->
                  <input type="file" accept="image/*" (change)="onSelectNewFile($event.target?.files)">
                </div>
                <div class="col">
                    <img [src]=this.base64 class="artClass-image" alt="artClass">
                </div>
              </div>
              


                          
        </div>
    </div>
        <!-- <button type="button" class="btn btn-primary btn-lg" (click)="addAnnouncement(announcementModal)">Submit</button> -->
        <button type="button" class="btn btn-primary" style="width: 250px; height: 50px;" type="submit">Update Art Class</button>
      </form>
</div>


<!-- =========MODALS BELOW======================= -->

<ng-template #updateClassModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Enter Announcement</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Announcement</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>
    </div>
    <br>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirmUpdateClass()">Confirm</button>
  </div>
</ng-template>


<ng-template #cancelModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cancel Update Class</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <p>Are you sure you want to cancel the update process?</p>
    </div>
    <br>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">No</button>
    <button type="button" class="btn btn-primary" (click)="confirmCancel(cancelModal)">Yes</button>
  </div>
</ng-template>
