<div class="container">
    <div class="row">
        <h1>Exhibitions Schedule</h1>
    </div>
    <hr>
    <div class="row">
        <div>
        <label>Start-Date:</label>
        <input type="text" class="form-control" placeholder="Start-Date" value="2021/06/01">
    </div>
        <br>
        <div style="margin-left: 50px;">
        <label>End-Date:</label>
        <input type="text" class="form-control" placeholder="End-Date" value="2021/06/30">
    </div>
    </div>
    <br>
    <div class="row">
        <button type="button" class="btn btn-primary">View </button>
    </div>
    
    <br>
    <div class="row">
        <img src="./assets/calendars/classes.png" alt="calendar" class="calendar"/>
    </div>
</div>