<div class="page-padding">
    <br>
  <div class="container">
      <img src="../../../assets/art-class/art-class-poster.png" alt="" style="width: 900px; height: 300px"> 
      <div class="top-right"><h1>Artist Artworks</h1></div>
  </div>
  <hr>
  <ng-container *ngIf="show">

    <ng-container *ngIf="allart">
    <button  mdbBtn
    type="button"
    gradient="purple"
    rounded="true"
    mdbWavesEffect
    (click)="getMyArtwork()" mdbWavesEffect>View My Artwork Only 
    </button>
  </ng-container>

    <ng-container *ngIf="!allart">
      <button  mdbBtn
      type="button"
      gradient="purple"
      rounded="true"
      mdbWavesEffect
      (click)="ngOnInit()" mdbWavesEffect>View All Artwork 
      </button>
    </ng-container>

    </ng-container>

<div class="card-deck"style="width:auto">
    <div class="card" *ngFor="let artwork of listArtwork; let indexofElementc= index;" >
      <img src='data:image/png;base64,{{artwork.artworkImage}}'  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{artwork.artworkTitle}}</h5>
        <p class="card-text">
            <li>Medium: {{artwork.mediumType.mediumTypeName}}</li>
            <li>Surface: {{artwork.surfaceType.surfaceTypeName}}</li>
            <li>Dimensions: {{artwork.artworkDimension.artworkDimensionDescription}}</li>
            <li>Price: {{artwork.artworkPrice}}</li>
        </p>
        <p class="card-text"><small class="text-muted">By {{artwork.user.userFirstName + ' ' + artwork.user.userLastName}}</small></p>
      </div>
    </div>
  
</div>