<div class="page-padding"   *ngFor="let exhibition of listexhibition; 
let indexofElementc= index;">
<div class="row">
    <div class="col">
      <h1>{{exhibition.exhibitionName}}</h1>
    </div>
    <div class="col">
      <button
        mdbBtn
        type="button"
        gradient="peach"
        rounded="true"
        style="float: right"
        [routerLink]="['../exhibitions']"
        mdbWavesEffect
      >
        Back
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img
        class="card-img-top"
        src='data:image/png;base64,{{exhibition.image.imageContent}}'
        alt="Card image cap"
      />
    </div>
  
    <div class="col-8">
      <p> Exhibition Description: 
        {{exhibition.exhibitionDescription}}
      </p>
      <p>Exhibition By:</p>
      <ul class="list-group">
        <li class="list-group-item">Claude Monet</li>
        <li class="list-group-item">Leonardo da  Vinci</li>
        <li class="list-group-item">Edgar Degas</li>
      </ul>
      <hr>
      <p>Date: {{exhibition.exhibitionDate}}</p>
      <P>Time: {{exhibition.exhibitionTime}}</P>
      <p>Venue: {{exhibition.venue.venueDescription}}</p>

    </div>
  </div>
  
  <!-- ==================================================================================== -->
  <!-- =====================================================MODALS BELOW============================================ -->

</div>
  