<div class="container">
    <div class="row">
        <div class="col">
            <h1>Update Teacher Details</h1>
          </div>
          <div class="col">
            <button type="button" class="btn btn-danger" style="float: right;" (click)="onCancel(cancelTeacherModal)">Cancel</button>
          </div>     </div>
    <hr>
    <div class="row">
        <div class="col">
            <label>First Name:</label>
            <input type="text" class="form-control" placeholder="First Name">
            <br>

            <label>Last Name:</label>
            <input type="text" class="form-control" placeholder="Last Name">
            <br>
            <label>Type of Teacher:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Drawer</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <br>


<!-- 
              <label>ID-Number:</label>
            <input type="text" class="form-control" placeholder="ID">
            <br> -->

             
        </div>
        <div class="col">
  
              <label>Phone Number:</label>
              <input type="text" class="form-control" placeholder="+ (27)">
              <br>

              <label>Email Address:</label>
              <input type="text" class="form-control" placeholder="@gmail.com">
              <br>
                          
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg" (click)="updateTeacher(teacherModal)">Save Changes</button>
</div>


<!-- =========MODALS BELOW======================= -->

<ng-template #teacherModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Update Teacher</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
      <p>Are you sure you want to update Teacher details?</p>
    </div>
    <br>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">No</button>
    <button type="button" class="btn btn-primary" (click)="confirmUpdateTeacher(teacherModal)">Update</button>
  </div>
</ng-template>


<ng-template #cancelTeacherModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Cancel Updating Teacher</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
        <p>Are you sure you want to cancel updating class Teacher?</p>
      </div>
      <br>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">No</button>
      <button type="button" class="btn btn-primary" (click)="confirmCancel(teacherModal)">Yes</button>
    </div>
  </ng-template>