<div class="container">
      <div class="reset-form">
         
        <!-- <form class="text-center border border-light p-5"> -->
            <div>
            <p class="h4 mb-4">Forgot your Password?</p>
            <div class="text-center">
              <p>Please enter email to confirm account details.</p>
            </div>
          
            <!-- Email -->
            <label>Email</label>
            <input type="email" id="defaultLoginFormEmail" class="form-control" style="width: 250px; margin-left: auto; margin-right: auto" placeholder="E-mail">
          
          
            <br>
          
            <!--  Login button -->
        <div>
            <button mdbBtn type="button" gradient="blue" [routerLink]="['/new-password']" rounded="true" mdbWavesEffect>Confirm</button>
        </div>
        <br>
                    <!-- </form> -->
        </div>
        </div>
      </div>
