
  <table class="table" *ngFor="let refund of listUserRefunds">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Class Name</th>
        <th scope="col">Refund Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            <div class="image-card">
            <img class="card-img-top" src="../../../assets/art-class/theme1.png" alt="Card image cap">
        </div>
        </th>
        <td>{{refund.artClassRefunded}}</td>
        <td>{{refund.refundStatus}}</td>
      </tr>

    </tbody>
  </table>
  <br>
  <br>